/*Cabecera de la página*/

/*Titulo*/
.title {
		-moz-user-select: none;
		-ms-user-select: none;
		-webkit-user-select: none;
		color:#0066CC;
		font-size:30px;
}

/*Al pasar el mouse sobre el titulo*/
.title:hover {
	cursor: default;
}

/*Subtitulo*/
.subtitle {
			color:#0066CC;
			font-size:20px;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
}         

.subtitle:hover {
	cursor: default;
}

/*Imagen izquierda*/
.imgi {
	/*left:240px;*/
	position:relative;
	cursor: default;
}

/*Imagen derecha*/
.imgd {
	/*right:205px;*/
	cursor: default;
	margin-left: 30px;
	margin-top: 17px;
	position:relative;
}

/*Fin cabecera Página)


/*Menu desplegable*/
ul, li {
	list-style:none;
}

.menu li ul {
	border-right-color:#0066CC;
	border-right-style:solid;
	border-right-width:1px;
	display:none;
	left:100px;
	padding-left:40px;
	position:absolute;
	top:0px;
	width:130px;
}

.menu {
	border-right-color:#0066CC;
	border-right-style:solid;
	border-right-width:1px;
	width:130px;
}

.menu li:hover ul {
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	display: block;
	transform: scale(1.05);
}

.menu li {
	position:relative;
}

 
/*Pie de pagina*/
.Foot {
	color:#FFF;
	display:block;
	float: none;
	font-size:12px;
	text-align:center;
	position: static;
}


/*Contenido de la seccion*/
.Escrito {
	margin-top:50px;
}



/*links*/
a:link {  
	font-family:"Comic Sans MS", cursive;
	text-decoration: none; 
	text-decoration:none;
 	font-size:16px;
}

/*Pasar mouse por encima de un link*/
.Fuente_IrArriba:hover { 
	color: #CECEF6; 
}

/*Boton ir arriba*/
.Fuente_IrArriba {
	color: #0066CC;

}


/*Bordes del indice (Consulta.html)*/
.BordeIndice {
	border-bottom-style: none; 
	border-bottom-style: none; 
	border-collapse: collapse; 
	border-left-style: none;
	border-right: 1px solid #0066CC; 
	border-top-style: none; 
}

/*Bordes del indice inferior (Consulta.html)*/
.BordeIndice2 {
	border-bottom: 1px solid #0066CC;  
	border-collapse: collapse; 
	border-left-style: none;
	border-right: 1px solid #0066CC; 
	border-top-style: none; 
}

/*Texto que aparecía sobre el botón de pausar y reproducir audio*/
.Audio {
	display: none;
}

/*Botón de reproducción/Pausa del audio*/
.BotonPlay{
  background: transparent;
  border-style:none;
  display: inline-block;
}

.BotonPlay:hover {
	cursor: hand;
	border-style: none;
}

.BotonPlay:focus {
	outline: 0px;
}


/*Controla el div que contiene el JavaScript que reproduce y pausa el audio, como también el que cambia la imagen con cada click*/
.Hover_Boton_Play {
	border-style: none;
	display: inline-block;
	position: absolute;
}

.Hover_Boton_Play span {
	display:none;
}

.Hover_Boton_Play:hover span {
	display: inline-block;
}

.Hover_Boton_Play:hover button {
-moz-transform:scale(1.25);
-ms-transform:scale(1.25);
-o-transform:scale(1.25);
-webkit-transform:scale(1.25);
transform:scale(1.25);
}

/*Texto que aparece al pasar el cursor sobre el botón play/pause*/
.Texto_Hover_Boton_Play {
	color: #CECEF6;
	display: inline-block;
	vertical-align: top;
}

/*Barra de navegación*/
::-webkit-scrollbar {
background-image: url(../imagenes/Fondo.jpg);
width:12px;
}

::-webkit-scrollbar-thumb {
-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
background-image: -webkit-linear-gradient(top, #000000 2%,#0066CC 90%);
}
::-webkit-scrollbar-track {
}

/*Controla el paso del cursor sobre las imagenes que redirigen a las redes sociales (Contacto.html)*/
.ImagenesContacto a:hover img {
	-webkit-transform:scale(1.25);
	-moz-transform:scale(1.25);
	-ms-transform:scale(1.25);
	-o-transform:scale(1.25);
	transform:scale(1.25);
}

/*Contenedor de video de YouTube (VideoPresentacion.htm)*/
#VideoYoutube {
	border-style: hidden inset inset inset;
	border-color: #0066CC;
	border-width: 3px;
}

#VideoYoutube:hover {
	transform: scale(1.05);
}

#ArribaVideo {
border-style: outset none outset none; 
border-width: 3px; 
border-color: #0066CC; 
border-top-right-radius: 15px; 
border-top-left-radius: 15px; 
border-bottom-right-radius: 15px; 
border-bottom-left-radius: 15px;
color: #0066CC;
}

#Will1 {
	width: 200px;
	height: 200px;
	border-style: none none solid solid;
	border-width: 2px;
	border-color: #0066CC;
	border-bottom-left-radius: 15px;
}

#Will2 {
	width: 200px;
	height: 200px;
	border-style: none solid solid none;
	border-width: 2px;
	border-color: #0066CC;
	border-bottom-right-radius: 15px;
}