*{
	margin: 0px;
	padding: 0px;
}

#Texto {
	margin: auto;
	margin-top: 150px;
	width: 600px;
	height: 150px;
	border-style: outset none inset none;
	border-top-right-radius: 70px;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 70px;
	border-bottom-right-radius: 30px;
	border-color: #0066CC;
	border-width: 3px;
}


.Banner {
	color: #0066CC;
	font-size: 100px;
}

#Input {

}